@import "Variables";
@import "~bootstrap/scss/bootstrap";

// for fixed header only
body {
    padding-top: 3.5rem;
}

.navbar {
    background: linear-gradient(to right, #11998e, #05cf4f);
}

.navbar::after {
    box-shadow: inset 0 5px 6px -3px rgba(0, 0, 0, 0.4);
    content: '';
    display: block;
    height: 6px;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: opacity .3s;
    width: 100%;
    pointer-events: none;
}

.scrolled .navbar::after {
    opacity: 1;
}

// ANIMATIONS

.fancy {animation:fade-in 0.5s;}
@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}
