* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F1F1F1;
    font-family: Helvetica;
    margin-top: 56px + 20px;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

#header {
    position: fixed;
    width: 100%;
    height: 56px;
    background: #37474F;
    line-height: 56px;
    color: #fff;
    z-index: 10;
    top: 0;
    transition: background .3s;

    .container {
        transition: .3s;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .logo {
        float: left;
    }

    .navlinks {
        float: right;

        ul {
            display: inline;
        }

        li {
            display: inline-block;
            color: #fff;
            height: 56px;
            border-bottom: 2px solid transparent;
            transition: .3s;
            opacity: .7;

            &.active {
                border-bottom-color: #fff;
                transition: .9s;
                opacity: 1;
            }

            a {
                padding: 0 16px;
                display: inline-block;
                height: 56px
            }
        }
    }
}

.scrolled #header {

}


#header::after {
    box-shadow: inset 0 5px 6px -3px rgba(0, 0, 0, 0.4);
    content: '';
    display: block;
    height: 6px;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: opacity .3s;
    width: 100%;
    pointer-events: none;
}

.scrolled #header::after {
    opacity: 1;
}

//temp
.temp {
    height: 1900px
}
